# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# o
Aula_01_04_12/output/*
Aula_02_04_17/output/*
Aula_03_04_19/output/*
Aula_04_04_26/output/*
Aula_05_05_15/output/*
Aula_06_05_22/output/*
Aula_07_24_05/output/*
Aula_08_29_05/output/*
Aula_09_05_06/output/*

Exercicios_Aval-2 
SegAA
.DS_Store
.vscode